<div class="todos__list list" *ngIf="items?.length > 0;else noItems">
  <ul class="list__container" *ngFor="let item of items">
    <li class="list__item">
      <mat-card class="list__card">
        <mat-card-title class="list__item-title">
          {{ item.title }}
        </mat-card-title>
        <mat-card-content class="list__complete">
          <mat-checkbox class="example-margin"></mat-checkbox>
        </mat-card-content>
        <mat-card-actions class="list__item-action">
          <button mat-raised-button color="warn" class="destroy list__item-btn" (click)="removeTodo(item)">Delete</button>
          <button mat-raised-button class="edit list__item-btn" (click)="updateTodo(item)">Edit</button>
          <button *ngIf="editState && itemToEdit.id == item.id" mat-raised-button class="edit list__item-btn" (click)="clearState()">X</button>

        </mat-card-actions>

        <div *ngIf="editState && itemToEdit.id == item.id">
          <form (ngSubmit)="updateTodo(item)">
            <input name="title" class="todos__header-control new-todo" [(ngModel)]="item.title" [ngModelOptions]="{standalone: true}" placeholder="Edit a new todo" type="text" autofocus="" required>
            <button mat-raised-button color="primary" class="todos__header-btn">Edit Todo</button>
            <button mat-raised-button color="primary" class="destroy todos__header-btn" (click)="removeTodo(item)">Delete Todo</button>
          </form>
        </div>

      </mat-card>
    </li>
  </ul>
</div>

<ng-template #noItems>
  <h5>There are no items to list</h5>
</ng-template>
