
.done .list__card {
  text-decoration: line-through;
  font-weight: bold;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}


.list {
  &__item {
    margin-bottom: 1rem;
    transition: text-decoration 1s;
    &-title {
      margin: 0;
      width: 80%;
    }
    &-action {
      margin: 0;
    }
  }

  &__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
  &__complete {
  margin-bottom: 0;
}
}
