*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todos {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  &__total {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-weight: bold;
    }
  }

}



