<section class="todos">
  <div class="todos__header">
    <h1 class="todos__title">Todo App</h1>
    <div class="todos__total" *ngIf="todos.length > 0">
      <div class="todo-count"><span class="todos__total-title">Total: {{todos.length}}</span> {{todos.length == 1 ? 'todo' : 'todos'}}</div>
      <div class="todo-completed"><span class="todos__total-title">Completed: {{getCompletedTodos(todos)}}</span> {{todos.length == 1 ? 'todo' : 'todos'}}</div>
      <div class="todo-tobedone"><span class="todos__total-title">To be done: {{ getNotCompletedTodos(todos) }}</span> {{todos.length == 1 ? 'todo' : 'todos'}}</div>
    </div>
    <div class="todos__header-action">
      <input class="todos__header-control new-todo" [(ngModel)]="newTodo.title" placeholder="Add a new todo..." type="text" autofocus="" (keyup.enter)="addTodo()" required>
      <button mat-raised-button color="primary" class="todos__header-btn" (click)="addTodo()">Add Todo</button>
    </div>
  </div>
  <div class="todos__list list" *ngIf="todos.length > 0">
    <ul class="list__container">
      <li class="list__item" *ngFor="let todo of todos" [class.done]="todo.done">
        <mat-card class="list__card">
            <mat-card-title class="list__item-title">{{ todo.id }}. {{ todo.title }}</mat-card-title>
            <mat-card-content class="list__complete">
              <mat-checkbox class="example-margin" (change)="toggleTodoComplete(todo)" [checked]="todo.complete"></mat-checkbox>
            </mat-card-content>
            <mat-card-actions class="list__item-action">
            <button mat-raised-button color="warn" class="destroy list__item-btn" (click)="removeTodo(todo)">Delete</button>
          </mat-card-actions>
        </mat-card>

      </li>
    </ul>
  </div>
</section>
