<section class="todos">
  <div class="todos__header">
    <h1 class="todos__title">Todo App</h1>
    <input class="todos__control new-todo" [(ngModel)]="newTodo.title" placeholder="Add a new todo..." type="text" autofocus="" (keyup.enter)="addTodo()" >
    <button mat-raised-button color="primary" class="todos__action" (click)="addTodo()">Add Todo</button>
  </div>
  <div class="todos__list list" *ngIf="todos.length > 0">
    <ul class="list__container">
      <li class="list__item" *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="list__complete">
          <input class="toggle" type="checkbox" (change)="toggleTodoComplete(todo)" [checked]="todo.complete">
        </div>
        <div class="list__item-title">{{ todo.title }}</div>
        <div class="list__item-action">
          <button class="destroy list__item-btn" (click)="removeTodo(todo)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="todos__footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    <span class="todo-completed">Completed: {{getCompletedTodos(todos)}} To be done: {{ getNotCompletedTodos(todos) }}</span>
  </div>
</section>
