<div class="todos__header">
  <h1 class="todos__title">Todo App</h1>
    <form class="todos__header-action form" (ngSubmit)="onSubmit()">
        <input name="title" class="todos__header-control new-todo" [(ngModel)]="item.title" [ngModelOptions]="{standalone: true}" placeholder="Add a new todo" type="text" autofocus="" required>
        <button mat-raised-button color="primary" class="todos__header-btn">Add Todo</button>
    </form>
  <div class="todos__error" [class]="className">Please enter the value</div>
</div>

